<template>
  <div class="w-11/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12
    px-6 py-10 sm:px-8 sm:py-6
    bg-white rounded shadow-md lg:shadow-lg
    my-8">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'FormCard'
}
</script>

<style>

</style>
