<template>
  <label :class="labelClasses">
    <slot></slot>
  </label>
</template>

<script>
import config from '@/config.js'

export default {
  name: 'InputLabel',

  data() {
    return {
      labelClasses: config.styles.forms.label,
    }
  }
}
</script>

<style>

</style>
