<template>
  <button type="submit" :class="submitClasses">
    <slot></slot>
  </button>
</template>

<script>
import config from '@/config.js'

export default {
  name: 'SubmitButton',

  data() {
    return {
      submitClasses: config.styles.buttons.primary,
    }
  }
}
</script>

<style>
</style>
