<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Create Customer</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap w-full mx-auto" @submit.prevent="createResource">
          <div class="w-1/2 pr-2">
            <input-label for="first_name" class="text-xs mt-2">Name</input-label>
            <input id="first_name" v-model="customer.name" :class="classes.input" />
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="last_name" class="text-xs mt-2">Surname</input-label>
            <input id="last_name" v-model="customer.surname" :class="classes.input" />
          </div>

          <div class="w-1/2 pr-2">
            <input-label for="email" class="text-xs mt-2">Email</input-label>
            <input id="email" type="email" v-model="customer.email" :class="classes.input" />
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="password" class="text-xs mt-2">Password</input-label>
            <input id="password" type="password" v-model="customer.password" :class="classes.input" />
          </div>

          <div class="w-full">
            <button :class="classes.primaryButton" :disabled="isCreating">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'
import Swal from 'sweetalert2'

import { mapGetters } from 'vuex'

import config from '@/config.js'

export default {
  name: 'CustomersCreate',

  components: {
    InputLabel,
    Alert,
  },

  mounted() {
    //
  },

  data() {
    return {
      customer: {
        name: null,
        surname: null,
        email: null,
        password: null
      },
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary,
      },
    }
  },

  methods: {
    createResource() {
      this.$store.dispatch('customers/create', this.customer)
        .then(() => this.$router.push({ name: 'customers.index' }))
        .catch((error) => Swal.fire({
          text: error.response.data.message,
          icon: 'error'
        }))
    }
  },

  computed: {
    ...mapGetters({
      isCreating: 'cars/isLoading',
      hasErrors: 'cars/hasCreateError',
      error: 'cars/createError',
    }),
  },
}
</script>

<style>

</style>
