<template>
  <div>
    <div class="flex items-center">
      <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Customer details</h3>
      <router-link :to="{ name: `customers.edit`, params: { id: customer.id } }" class="px-4 py-1 flex items-center bg-gray-800 hover:bg-gray-700 text-white mr-0 ml-auto rounded">
        <span class="fill-current mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation"><path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path></svg>
        </span>
        <span>Edit</span>
      </router-link>
    </div>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="flex flex-grow flex-wrap mx-auto">
          <div v-for="(field, index) in fields" :key="field.key" class="w-1/2 pr-2">
            <input-label class="text-xs" :class="{ 'mt-2': index > 1 }">{{ field.label }}</input-label>
            <div class="w-full inline-flex">{{ customer[field.key] }}</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import InputLabel from '@/components/ui/forms/InputLabel.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'CustomersDetails',

  components: {
    InputLabel,
  },

  mounted() {
    let customer = this.$route.params.id

    this.$store.dispatch('customers/fetchSingle', customer)
    // this.$store.dispatch('sensors/fetchListByCar', car)
  },

  computed: {
    ...mapGetters({
      fields: 'customers/fields',
      customer: 'customers/item',
    })
  }
}
</script>

<style>

</style>
