<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Update Customer</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap flex-1 mx-auto" @submit.prevent="updateResource">
          <div class="w-1/12 pr-2">
            <input-label class="text-xs mt-2">ID</input-label>
            <input type="number" :value="customer.id" disabled class="cursor-not-allowed bg-gray-100" :class="classes.input" />
          </div>
          <div class="w-3/12 pr-2">
            <input-label for="first_name" class="text-xs mt-2">Name</input-label>
            <input id="first_name" v-model="customer.name" :class="classes.input" placeholder="BMW" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="last_name" class="text-xs mt-2">Surname</input-label>
            <input id="last_name" v-model="customer.surname" :class="classes.input" placeholder="X5" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="email" class="text-xs mt-2">Email</input-label>
            <input id="email" v-model="customer.email" :class="classes.input" placeholder="AB123CD" />
          </div>

          <div class="w-full my-2">
            <hr class="border" />
          </div>

          <div class="w-1/3 pr-2">
            <input-label for="currentPassword" class="text-xs mt-2">Current Password</input-label>
            <input type="password" id="currentPassword" v-model="customer.currentPassword" :class="classes.input" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="password" class="text-xs mt-2">Password</input-label>
            <input type="password" id="password" v-model="customer.newPassword" :class="classes.input" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="" class="text-xs mt-2">Password Confirmation</input-label>
            <input type="password" v-model="customer.newPasswordConfirmation" :class="classes.input" />
          </div>

          <div class="w-full">
            <p class="mb-2 -mt-2 text-sm text-gray-700">If you wish not to update customer's password, leave blank the fields above.</p>
            <button :class="classes.primaryButton" :disabled="isLoading">Save changes</button>
          </div>
        </form>
      </div>
    </section>

  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'

import { mapGetters } from 'vuex'

import config from '@/config.js'
import Swal from 'sweetalert2'

export default {
  name: 'CustomersEdit',

  components: {
    InputLabel,
    Alert,
  },

  mounted() {
    const customer = this.$route.params.id

    this.$store.dispatch('customers/fetchSingle', customer)
  },

  data() {
    return {
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary,
      },
    }
  },

  methods: {
    updateResource() {
      this.customer.id = this.$route.params.id

      this.$store.dispatch('customers/update', this.customer)
        .then(() => {
          this.$router.push({ name: 'customers.index' })
          this.$store.dispatch('auth/fetchProfile')
        })
        .catch((error) => Swal.fire({
          text: error.response.data.message,
          icon: 'error'
        }))
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'customers/isLoading',
      customer: 'customers/item',
      hasErrors: 'customers/hasCreateError',
      error: 'customers/createError',
    }),
  },
}
</script>

<style>

</style>