<template>
  <div>
    <data-table resource="customers" :columns="fields" :data="customers"></data-table>
  </div>
</template>

<script>
import DataTable from '@/components/ui/tables/DataTable.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'Customers',

  components: {
    DataTable,
  },

  mounted() {
    this.$store.dispatch('customers/fetchList')
  },

  computed: {
    ...mapGetters({
      fields: 'customers/fields',
      customers: 'customers/items',
    }),
  }
}
</script>

<style>

</style>
