<template>
  <div class="flex items-start flex-wrap">
    <section class="lg:w-1/3 w-full pr-2 flex flex-col">
      <h3 class="font-semibold ml-1">Welcome</h3>
      <div class="bg-white border rounded-md px-3 py-2 text-gray-700 shadow-sm flex-1">
        <table>
          <tr>
            <th class="text-left pr-2 py-1">Name:</th>
            <td>{{ user.name }}</td>
          </tr>
          <tr>
            <th class="text-left pr-2 py-1">Surname:</th>
            <td>{{ user.surname }}</td>
          </tr>
          <tr>
            <th class="text-left pr-2 py-1">Email:</th>
            <td>{{ user.email }}</td>
          </tr>
        </table>
      </div>
    </section>

    <section class="lg:w-2/3 w-full flex flex-col">
      <h3 class="font-semibold">Upcoming Bookings</h3>
      <data-table resource="bookings" :columns="fields" :data="upcomingBookings" />
    </section>
  </div>
</template>

<script>
import DataTable from '@/components/ui/tables/DataTable.vue'

import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'Home',

  components: {
    DataTable
  },

  mounted () {
    this.$store.dispatch('bookings/fetchListUpcoming', moment())
  },

  computed: {
    ...mapGetters({
      user: 'auth/user',
      fields: 'bookings/fields',
      upcomingBookings: 'bookings/items',
      cars: 'cars/items'
    })
  }
}
</script>

<style>
</style>
