<template>
  <div>
    <h4 class="font-semibold">Position</h4>

    <a :href="buildMapsLink(position)" target="_blank" class="block text-right mt-2">
      <img :src="buildMapboxSrc(position)">
    </a>

    <div class="text-xs text-center mt-1 text-gray-500">Recorded on {{ humanizeDate(date) }}</div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'SensorReport',

  props: ['position', 'date'],

  methods: {
    buildMapboxSrc(position) {
      let latitude = 0
      if (position.latitude > 0) {
        latitude = Math.min(position.latitude, 85).toFixed(6)
      } else if (position.latitude < 0) {
        latitude = Math.max(position.latitude, -85).toFixed(6)
      }

      let longitude = 0
      if (position.longitude > 0) {
        longitude = Math.min(position.longitude, 85).toFixed(6)
      } else if (position.longitude < 0) {
        longitude = Math.max(position.longitude, -85).toFixed(6)
      }

      return `https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s-marker+285A98(${longitude},${latitude})/${longitude},${latitude},15,0/600x320@2x?access_token=pk.eyJ1IjoiZHZkbWFyY2hldHRpIiwiYSI6ImNqa2R0a3VibDNhZGUzcG1lemd4NzJvOWQifQ.TluGfKo5B8rpeiAnvEZhyA`
    },

    buildMapsLink(position) {
      return `http://maps.google.com/maps?z=12&t=m&q=loc:${position.latitude.toFixed(6)}+${position.longitude.toFixed(6)}`
    },

    humanizeDate(date) {
      return moment(date).format('Do, MMM YYYY [at] HH:mm')
    }
  },
}
</script>

<style>

</style>
