<template>
  <div>
    <h4 class="font-semibold">Weather conditions</h4>

    <table class="w-full text-xs font-normal">
      <tr v-for="(value, key, index) in weather" :key="key" :class="{ 'border-t': index > 0 }">
        <th class="text-left whitespace-nowrap p-1 w-2/3">{{ humanize(key) }}</th>
        <td class="p-1 w-1/3">{{ value }} {{ unit(key) }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
export default {
  name: 'WeatherReport',

  props: ['weather'],

  methods: {
    humanize(key) {
      let words = key.match(/[A-Za-z][^_\-A-Z]*/g) || [];
      return words.map(this.capitalize).join(' ');
    },

    capitalize(word) {
      return word.charAt(0).toUpperCase() + word.substring(1);
    },

    unit(key) {
      const units = {
        temperature: "°C",
        pressure: "hPa",
        humidity: "%",
        visibility: "m",
        windSpeed: "m/s",
        rainVolumeLastHour: "mm",
        cloudiness: "%",
        showVolumeLastHour: "mm",
      }

      if (key in units) {
        return units[key]
      }

      return null
    }
  }
}
</script>

<style>

</style>
