<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Create Car</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap flex-1 mx-auto" @submit.prevent="createResource">
          <div class="w-1/3 pr-2">
            <input-label for="manufacturer" class="text-xs mt-2">Manufacturer</input-label>
            <input id="manufacturer" minlength="1" maxlength="25" required v-model="car.manufacturer" :class="classes.input" placeholder="BMW" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="model" class="text-xs mt-2">Model</input-label>
            <input id="model" minlength="1" maxlength="100" required v-model="car.model" :class="classes.input" placeholder="X5" />
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="color" class="text-xs mt-2">Color</input-label>
            <input id="color" minlength="1" maxlength="25" required v-model="car.color" :class="classes.input" placeholder="White" />
          </div>

          <div class="w-1/2 pr-2">
            <input-label for="licensePlate" class="text-xs mt-2">License Plate</input-label>
            <input id="licensePlate" minlength="7" maxlength="7" required  v-model="car.licensePlate" :class="classes.input" placeholder="AB123CD" />
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="vin" class="text-xs mt-2">Vin</input-label>
            <input id="vin" minlength="17" maxlength="17" required v-model="car.vin" :class="classes.input" placeholder="XFKY3DX276SFZK4HD" />
          </div>

          <div class="w-full">
            <input-label for="description" class="text-xs mt-2">Description</input-label>
            <textarea id="description" minlength="1" maxlength="500" required v-model="car.description" rows="7" :class="classes.input"></textarea>
          </div>

          <div class="w-full">
            <button :class="classes.primaryButton" :disabled="isCreating">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'
import { mapGetters } from 'vuex'

import config from '@/config.js'

export default {
  name: 'CarsCreate',

  components: {
    InputLabel,
    Alert,
  },

  mounted() {
    //
  },

  data() {
    return {
      car: {
        manufacturer: null,
        model: null,
        licensePlate: null,
        color: null,
        vin: null,
        description: null
      },
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary,
      },
    }
  },

  methods: {
    createResource() {
      this.$store.dispatch('cars/create', this.car)
        .then(() => this.$router.push({ name: 'cars.index' }))
        // .catch((error) => console.log(error))
    }
  },

  computed: {
    ...mapGetters({
      isCreating: 'cars/isLoading',
      hasErrors: 'cars/hasCreateError',
      error: 'cars/createError',
    }),
  },
}
</script>

<style>

</style>
