<template>
  <div>
    <div class="flex items-center">
      <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Car details</h3>
      <router-link :to="{ name: `cars.edit`, params: { id: car.id } }" class="px-4 py-1 flex items-center bg-gray-800 hover:bg-gray-700 text-white mr-0 ml-auto rounded">
        <span class="fill-current mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation"><path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path></svg>
        </span>
        <span>Edit</span>
      </router-link>
    </div>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="flex flex-wrap flex-1 mx-auto">
          <div class="w-1/3 pr-2">
            <input-label class="text-xs mt-2">ID</input-label>
            <div class="w-full inline-flex">{{ car.id }}</div>
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="manufacturer" class="text-xs mt-2">Manufacturer</input-label>
            <div class="w-full inline-flex">{{ car.manufacturer }}</div>
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="model" class="text-xs mt-2">Model</input-label>
            <div class="w-full inline-flex">{{ car.model }}</div>
          </div>

          <div class="w-1/3 pr-2">
            <input-label for="color" class="text-xs mt-2">Color</input-label>
            <div class="w-full inline-flex">{{ car.color }}</div>
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="licensePlate" class="text-xs mt-2">License Plate</input-label>
            <div class="w-full inline-flex">{{ car.licensePlate }}</div>
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="vin" class="text-xs mt-2">Vin</input-label>
            <div class="w-full inline-flex">{{ car.vin }}</div>
          </div>

          <div class="w-full">
            <input-label class="text-xs mt-2">Description</input-label>
            <div class="w-full inline-flex">{{ car.description }}</div>
          </div>
        </div>
      </div>
    </section>

    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Sensors' data</h3>
    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-start"  v-for="(sensor, index) in sensors" :key="sensor.id" :class="{ 'border-t': index > 0 }">
        <div class="md:w-1/2 mx-auto self-start font-bold">
          <weather-report :weather="sensor.weather"></weather-report>
        </div>
        <div class="md:w-1/2 max-w-lg mx-auto pl-4">
          <sensor-report :position="sensor.position" :date="sensor.datetime"></sensor-report>
        </div>
      </div>
    </section>

    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Related bookings</h3>
    <data-table resource="bookings" :columns="bookingsFields" :data="bookings"></data-table>
  </div>
</template>

<script>
import InputLabel from '@/components/ui/forms/InputLabel.vue'
import SensorReport from '@/components/sensors/SensorReport.vue'
import WeatherReport from '@/components/sensors/WeatherReport.vue'
import DataTable from '@/components/ui/tables/DataTable.vue'

import { mapGetters } from 'vuex'

export default {
  name: 'CarsDetails',

  components: {
    InputLabel,
    SensorReport,
    WeatherReport,
    DataTable,
  },

  mounted() {
    let car = this.$route.params.id

    this.$store.dispatch('cars/fetchSingle', car)
    this.$store.dispatch('sensors/fetchListByCar', car)
    this.$store.dispatch('bookings/fetchListByCar', car)
  },

  computed: {
    ...mapGetters({
      fields: 'cars/fields',
      car: 'cars/item',
      sensors: 'sensors/items',
      bookingsFields: 'bookings/fields',
      bookings: 'bookings/items',
    })
  }
}
</script>

<style>

</style>
