<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Update Car</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap flex-1 mx-auto" @submit.prevent="updateResource">
          <div class="w-1/12 pr-2">
            <input-label class="text-xs mt-2">ID</input-label>
            <input type="number" :value="car.id" disabled class="cursor-not-allowed bg-gray-100" :class="classes.input" />
          </div>
          <div class="w-3/12 pr-2">
            <input-label for="manufacturer" class="text-xs mt-2">Manufacturer</input-label>
            <input id="manufacturer" v-model="car.manufacturer" :class="classes.input" />
          </div>
          <div class="w-2/6 pr-2">
            <input-label for="model" class="text-xs mt-2">Model</input-label>
            <input id="model" v-model="car.model" :class="classes.input" />
          </div>
          <div class="w-2/6 pr-2">
            <input-label for="color" class="text-xs mt-2">Color</input-label>
            <input id="color" v-model="car.color" :class="classes.input" />
          </div>

          <div class="w-1/2 pr-2">
            <input-label for="licensePlate" class="text-xs mt-2">License Plate</input-label>
            <input id="licensePlate" v-model="car.licensePlate" :class="classes.input" />
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="vin" class="text-xs mt-2">Vin</input-label>
            <input id="vin" v-model="car.vin" :class="classes.input" />
          </div>

          <div class="w-full">
            <input-label for="" class="text-xs mt-2">Description</input-label>
            <textarea id="" v-model="car.description" rows="7" :class="classes.input"></textarea>
          </div>

          <div class="w-full">
            <button :class="classes.primaryButton" :disabled="isLoading">Save changes</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'

import { mapGetters } from 'vuex'

import config from '@/config.js'

export default {
  name: 'CarsEdit',

  components: {
    InputLabel,
    Alert
  },

  mounted() {
    let car = this.$route.params.id

    this.$store.dispatch('cars/fetchSingle', car)
  },

  data() {
    return {
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary,
      },
    }
  },

  methods: {
    updateResource() {
      this.car.id = this.$route.params.id

      this.$store.dispatch('cars/update', this.car)
        .then(() => this.$router.push({ name: 'cars.index' }))
        // .catch((error) => console.log(error))
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'cars/isLoading',
      car: 'cars/item',
      hasErrors: 'cars/hasCreateError',
      error: 'cars/createError',
    }),
  },
}
</script>

<style>

</style>
