<template>
  <div>
    <data-table resource="cars" :columns="fields" :data="cars"></data-table>
  </div>
</template>

<script>
import DataTable from '@/components/ui/tables/DataTable.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'Cars',

  components: {
    DataTable,
  },

  mounted() {
    this.$store.dispatch('cars/fetchList')
  },

  computed: {
    ...mapGetters({
      fields: 'cars/fields',
      cars: 'cars/items',
    }),
  }
}
</script>

<style>

</style>
