<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Create Sensor Recording</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap w-full mx-auto" @submit.prevent="createResource">
          <div class="w-1/6 pr-2">
            <input-label for="car" class="text-xs">Car</input-label>
            <select id="car" v-model="sensor.carId" :class="classes.input" required>
              <option v-for="car in cars" :key="car.id" :value="car.id">{{ car.licensePlate }}</option>
            </select>
          </div>
          <div class="w-1/3 pr-2">
            <input-label for="latitude" class="text-xs">Latitude</input-label>
            <input id="latitude" min="-90" max="90" v-model="sensor.position.latitude" :class="classes.input" required />
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="longitude" class="text-xs">Longitude</input-label>
            <input id="longitude" min="-180" max="180" v-model="sensor.position.longitude" :class="classes.input" required />
          </div>

          <div class="w-full border-t-2 mb-4"></div>

          <div class="w-full">
            <button :class="classes.primaryButton" :disabled="isLoading">Save changes</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'

import { mapGetters } from 'vuex'

import config from '@/config.js'

export default {
  name: 'SensorsCreate',

  components: {
    InputLabel,
    Alert
  },

  mounted () {
    this.$store.dispatch('cars/fetchList')
  },

  data () {
    return {
      sensor: {
        position: {}
      },
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary
      }
    }
  },

  methods: {
    createResource () {
      this.$store.dispatch('sensors/create', this.sensor)
        .then(() => this.$router.push({ name: 'sensors.index' }))
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'sensors/isLoading',
      hasErrors: 'sensors/hasCreateError',
      error: 'sensors/createError',

      cars: 'cars/items'
    }),
  }
}
</script>

<style>

</style>