<template>
  <div>
    <div class="flex items-center">
      <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Sensor Details</h3>
    </div>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="flex mx-auto">
          <weather-report v-if="sensor.weather" class="flex-1 pr-2" :weather="sensor.weather"></weather-report>
          <sensor-report v-if="sensor.position" class="flex-1" :position="sensor.position"></sensor-report>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SensorReport from '@/components/sensors/SensorReport.vue'
import WeatherReport from '@/components/sensors/WeatherReport.vue'

import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'SensorsDetails',

  components: {
    WeatherReport,
    SensorReport
  },

  mounted() {
    const sensor = this.$route.params.id

    this.$store.dispatch('sensors/fetchSingle', sensor)
  },

  methods: {
    humanizeDate (date) {
      return moment(date).format('Do MMMM YYYY [at] HH:mm')
    }
  },

  computed: {
    ...mapGetters({
      fields: 'sensors/fields',
      sensor: 'sensors/item',
    })
  }
}
</script>

<style>

</style>