<template>
  <data-table resource="sensors" :columns="fields" :data="sensors" :isLoading="isLoading" :edit="false" :remove="false"></data-table>
</template>

<script>
import DataTable from '@/components/ui/tables/DataTable.vue'

import { mapGetters } from 'vuex'

export default {
  name: 'SensorsList',

  components: {
    DataTable,
  },

  mounted() {
    this.$store.dispatch('sensors/fetchList')
  },

  computed: {
    ...mapGetters({
      fields: 'sensors/fields',
      isLoading: 'sensors/isLoading',
      sensors: 'sensors/items',
    })
  }

}
</script>

<style>

</style>
