<template>
  <div class="h-screen w-full flex antialiased text-gray-800 bg-white">
    <div class="absolute top-0 left-0 right-0 bg-gray-800 opacity-75 flex items-center text-white z-50 transition-all delay-150" :class="{ 'bottom-full': !isLoading, 'bottom-0': isLoading }">
      <spinner :width="64" :height="64"/>
    </div>

    <sidebar></sidebar>

    <div class="flex-1 flex flex-col overflow-y-auto" id="main-container">
      <topbar :title="fullPageRouteName"></topbar>

      <main class="flex-grow flex border-t">
        <section class="flex flex-col p-4 w-full flex-none bg-gray-100 w-full">
          <router-view></router-view>
        </section>
      </main>
    </div>
  </div>
</template>

<script>
import Sidebar from '@/components/ui/Sidebar.vue'
import Spinner from '@/components/ui/Spinner.vue'
import Topbar from '@/components/ui/Topbar.vue'

import { mapGetters } from 'vuex'

export default {
  components: {
    Sidebar,
    Topbar,
    Spinner,
  },

  methods: {
    logout() {
      this.$store.dispatch('logout')
        .then(() => this.$router.push({ name: 'login' }))
    }
  },

  computed: {
    fullPageRouteName() {
      return this.$route.matched.slice(1).reduce((breadcrumbs, route) => {
        return breadcrumbs += route.meta && (' / ' + route.meta.label.charAt(0).toUpperCase() + route.meta.label.slice(1))
      }, 'Dashboard')
    },

    ...mapGetters([ 'isLoading' ])
  }
}
</script>

<style scoped>
#main-container {
  width: calc(100% - 69px)
}
</style>
