<template>
  <login-form></login-form>
</template>

<script>
import LoginForm from '../components/auth/LoginForm.vue'

export default {
  components: {
    LoginForm
  },
}
</script>

<style>

</style>
