<template>
  <register-form></register-form>
</template>

<script>
import RegisterForm from '../components/auth/RegisterForm.vue'
export default {
  components: { RegisterForm },

}
</script>

<style>

</style>
