<template>
  <div>
    <div class="flex items-center">
      <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Booking Details</h3>
      <router-link :to="{ name: `bookings.edit`, params: { id: booking.id } }" class="px-4 py-1 flex items-center bg-gray-800 hover:bg-gray-700 text-white mr-0 ml-auto rounded">
        <span class="fill-current mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation"><path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path></svg>
        </span>
        <span>Edit</span>
      </router-link>
    </div>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="flex flex-grow flex-wrap mx-auto">
          <div class="w-1/12 pr-2">
            <input-label class="text-xs">Id</input-label>
            <div class="w-full inline-flex">{{ booking.id }}</div>
          </div>
          <div class="w-5/12 pr-2">
            <input-label class="text-xs">Car</input-label>
            <div class="w-full inline-flex">{{ booking.carId }} <span class="ml-1" v-if="car"> - {{ car.licensePlate }}</span></div>
          </div>
          <div class="w-1/2 pr-2">
            <input-label class="text-xs">Client</input-label>
            <div class="w-full inline-flex">{{ booking.clientId }} <span class="ml-1" v-if="customer"> - {{ customer.name }} {{ customer.surname }}</span></div>
          </div>

          <div class="w-1/2 pr-2">
            <input-label class="text-xs mt-2">From</input-label>
            <div class="w-full inline-flex">{{ humanizeDate(booking.from) }}</div>
          </div>
          <div class="w-1/2 pr-2">
            <input-label class="text-xs mt-2">To</input-label>
            <div class="w-full inline-flex">{{ humanizeDate(booking.to) }}</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import InputLabel from '@/components/ui/forms/InputLabel.vue'

import { mapGetters } from 'vuex'
import moment from 'moment'

export default {
  name: 'BookingsDetails',

  components: {
    InputLabel,
  },

  mounted() {
    const bookingId = this.$route.params.id

    this.$store.dispatch('bookings/fetchSingle', bookingId)
      .then(() => {
        this.$store.dispatch('cars/fetchSingle', this.booking.carId)
        this.$store.dispatch('customers/fetchSingle', this.booking.clientId)
      })
  },

  methods: {
    humanizeDate (date) {
      return moment(date).format('Do MMMM YYYY [at] HH:mm')
    }
  },

  computed: {
    ...mapGetters({
      fields: 'bookings/fields',
      booking: 'bookings/item',
      car: 'cars/item',
      customer: 'customers/item'
    })
  }
}
</script>

<style>

</style>
