<template>
  <div>
    <h3 class="rounded-t px-3 py-3 text-gray-800 text-xl font-semibold">Update Booking</h3>

    <section class="bg-white border rounded text-gray-700 mb-2 shadow-sm">
      <div class="md:inline-flex flex-col space-y-4 md:space-y-0 w-full p-4 text-gray-800 items-center">
        <div class="w-full" v-if="hasErrors">
          <alert type="error">{{ error }}</alert>
        </div>

        <form class="flex flex-wrap w-full mx-auto" @submit.prevent="updateResource">
          <div class="w-1/12 pr-2">
            <input-label class="text-xs">Id</input-label>
            <input type="number" :value="booking.id" disabled class="cursor-not-allowed bg-gray-100" :class="classes.input" />
          </div>
          <div class="w-5/12 pr-2">
            <input-label for="car" class="text-xs">Car</input-label>
            <select id="car" v-model="booking.carId" :class="classes.input">
              <option v-for="car in cars" :key="car.id" :value="car.id">{{ car.licensePlate }}</option>
            </select>
          </div>
          <div class="w-1/2 pr-2">
            <input-label for="client" class="text-xs">Client</input-label>
            <select id="client" v-model="booking.clientId" :class="classes.input">
              <option v-for="customer in customers" :key="customer.id" :value="customer.id">{{ customer.name }} {{ customer.surname }}</option>
            </select>
          </div>

          <div class="w-1/2 pr-2 mb-2">
            <input-label for="from" class="text-xs mt-2">From: <span class="ml-1 normal-case">{{ humanizeDate(booking.startDateTime) }}</span></input-label>
            <input id="from" v-model="booking.startDateTime" :class="classes.input" />
          </div>
          <div class="w-1/2 pr-2 mb-2">
            <input-label for="to" class="text-xs mt-2">To: <span class="ml-1 normal-case">{{ humanizeDate(booking.endDateTime) }}</span></input-label>
            <input id="to" v-model="booking.endDateTime" :class="classes.input" />
          </div>

          <div class="w-full">
            <button :class="classes.primaryButton" :disabled="isLoading">Save changes</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</template>

<script>
import Alert from '@/components/ui/Alert.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'

import { mapGetters } from 'vuex'
import moment from 'moment'

import config from '@/config.js'

export default {
  name: 'BookingsEdit',

  components: {
    InputLabel,
    Alert
  },

  mounted() {
    const booking = this.$route.params.id

    this.$store.dispatch('cars/fetchList')
    this.$store.dispatch('customers/fetchList')
    this.$store.dispatch('bookings/fetchSingle', booking)
  },

  data() {
    return {
      classes: {
        input: config.styles.forms.input,
        primaryButton: config.styles.buttons.primary,
      },
    }
  },

  methods: {
    updateResource () {
      this.booking.id = this.$route.params.id

      this.$store.dispatch('bookings/update', this.booking)
        .then(() => this.$router.push({ name: 'bookings.index' }))
        // .catch((error) => console.log(error))
    },

    humanizeDate (date) {
      return moment(date).format('Do MMMM YYYY [at] HH:mm')
    }
  },

  computed: {
    ...mapGetters({
      isLoading: 'bookings/isLoading',
      booking: 'bookings/item',
      hasErrors: 'bookings/hasCreateError',
      error: 'bookings/createError',

      cars: 'cars/items',
      customers: 'customers/items'
    }),
  }
}
</script>

<style>

</style>