<template>
  <data-table resource="bookings" :columns="fields" :data="bookings" :isLoading="isLoading"></data-table>
</template>

<script>
import DataTable from '@/components/ui/tables/DataTable.vue'

import { mapGetters } from 'vuex'

export default {
  name: 'BookingsList',

  components: {
    DataTable,
  },

  mounted() {
    this.$store.dispatch('bookings/fetchList')
  },

  computed: {
    ...mapGetters({
      fields: 'bookings/fields',
      isLoading: 'bookings/isLoading',
      bookings: 'bookings/items',
    })
  }
}
</script>

<style>

</style>
