<template>
  <div id="app"
    class="flex justify-center items-center min-h-screen bg-gray-100">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
}
</script>

<style>
</style>
