<template>
  <form-card>
    <h2 class="font-semibold text-3xl lg:text-4xl text-gray-800">Dashboard Access</h2>

    <form class="mt-4" @submit.prevent="handleLogin">
      <alert type="error" v-if="hasErrors" v-html="errorMessage"></alert>

      <input-label for="email">E-mail</input-label>
      <input v-model="form.email" id="email" type="email" placeholder="E-mail address" autocomplete="email" required :class="inputClasses" />

      <input-label for="password">Password</input-label>
      <input v-model="form.password" id="password" type="password" placeholder="Password" required :class="inputClasses" />

      <submit-button :class="{ 'opacity-50': ! isFilled || isLoading }">
        <span v-if="! isLoading">Login</span>
        <span class="block" v-else>
          <spinner :width="24" :height="24" />
        </span>
      </submit-button>

      <div class="mt-4 mb-2 text-sm text-center text-gray-700">
        <span class="mr-1">Don't you have an account yet?</span>
        <router-link to="register" class="underline">Register now</router-link>
      </div>
    </form>
  </form-card>
</template>

<script>
import SubmitButton from '@/components/ui/forms/SubmitButton.vue'
import FormCard from '@/components/ui/forms/FormCard.vue'
import InputLabel from '@/components/ui/forms/InputLabel.vue'
import Alert from '@/components/ui/Alert.vue'
import Spinner from '@/components/ui/Spinner.vue'

import { mapGetters } from 'vuex'

import config from '@/config.js'

export default {
  name: 'LoginForm',
  components: {
    SubmitButton,
    InputLabel,
    FormCard,
    Alert,
    Spinner,
  },

  data() {
    return {
      form: {
        email: null,
        password: null
      },
      inputClasses: config.styles.forms.input,
    }
  },

  methods: {
    handleLogin() {
      this.$store.dispatch('auth/login', { ...this.form })
        .then(() => this.$router.push({ name: 'dashboard.index' }))
        .catch((response) => console.error('Login error', response))
    },
  },

  computed: {
    isFilled() {
      return this.form.email && this.form.email.length > 0 && this.form.password && this.form.password.length > 0
    },

    ...mapGetters({
      hasErrors: 'auth/hasLoginErrors',
      errorMessage: 'auth/loginMessage',
      isLoading: 'auth/isLoading',
    })
  }
}
</script>

<style>

</style>
