<template>
  <!-- Auth Card -->
  <form-card>
    <h2 class="font-semibold text-3xl lg:text-4xl text-gray-800">Signup</h2>

    <form class="mt-4" @submit.prevent="handleRegistration">
      <alert :type="messageType" v-if="hasMessage">{{ message }}</alert>

      <input-label for="name">Name</input-label>
      <input v-model="form.name" id="first_name" type="text" placeholder="First name" required
        class="block w-full p-3 mt-2 mb-4 rounded
          text-gray-800 appearance-none
          border-2 border-gray-100
          focus:text-gray-500 focus:outline-none focus:border-blue-300
          transition" />

      <input-label for="surname">Surname</input-label>
      <input v-model="form.surname" id="last_name" type="text" placeholder="Last name" required
        class="block w-full p-3 mt-2 mb-4 rounded
          text-gray-800 appearance-none
          border-2 border-gray-100
          focus:text-gray-500 focus:outline-none focus:border-blue-300
          transition" />

      <input-label for="email">E-mail</input-label>
      <input v-model="form.email" id="email" type="email" placeholder="E-mail address" autocomplete="email" required
        class="block w-full p-3 mt-2 mb-4 rounded
          text-gray-800 appearance-none
          border-2 border-gray-100
          focus:text-gray-500 focus:outline-none focus:border-blue-300
          transition" />

      <input-label for="email">Password</input-label>
      <input v-model="form.password" id="password" type="password" placeholder="Password" required
        class="block w-full p-3 mt-2 mb-4 rounded
          text-gray-800 appearance-none
          border-2 border-gray-100
          focus:text-gray-500 focus:outline-none focus:border-blue-300
          transition" />

      <input-label for="password">Password Confirmation</input-label>
      <input v-model="form.passwordConfirmation" id="password-confirmation" type="password" placeholder="Password Confirmation" required
        class="block w-full p-3 mt-2 mb-4 rounded
          text-gray-800 appearance-none
          border-2 border-gray-100
          focus:text-gray-500 focus:outline-none focus:border-blue-300
          transition" />

      <submit-button :class="{ 'opacity-50': ! isFilled }">Register now</submit-button>

      <div class="mt-4 mb-2 text-sm text-center text-gray-700">
        <span class="mr-1">Are you already registered?</span>
        <router-link to="login" class="underline">Login with your account</router-link>
      </div>
    </form>
  </form-card>
</template>

<script>
import FormCard from '../ui/forms/FormCard.vue'
import SubmitButton from '../ui/forms/SubmitButton.vue'
import InputLabel from '../ui/forms/InputLabel.vue'
import Alert from '../ui/Alert.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'RegisterForm',
  components: {
    FormCard,
    SubmitButton,
    InputLabel,
    Alert,
  },

  data() {
    return {
      form: {
        name: null,
        surname: null,
        email: null,
        password: null,
        passwordConfirmation: null
      },
    }
  },

  methods: {
    handleRegistration() {
      this.$store.dispatch('auth/register', this.form)
        .then(() => {
          this.form = { email: null, password: null }
          setTimeout(() => this.$router.push({ name: 'login' }), 3000)
        })
        .catch((error) => console.error('Registration error', error))
    },
  },

  computed: {
    isFilled() {
      return this.form.email && this.form.email.length > 0 && this.form.password && this.form.password.length > 0
    },

    ...mapGetters({
      hasMessage: 'auth/hasRegistrationMessage',
      message: 'auth/registrationMessage',
      messageType: 'auth/registrationMessageType',
      isLoading: 'auth/isLoading',
    })
  }
}
</script>

<style>

</style>
