<template>
  <div>
    <div class="flex mb-2">
      <div class="flex">
        <span class="bg-gray-800 text-white fill-current px-3 rounded-l flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 512 512"><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
        </span>
        <input class="py-1 px-2 rounded-r rounded-l-none border-gray-300 border outline-none focus:border-gray-800" type="text" v-model="term" />
      </div>
      <router-link :to="{ name: resource + '.create' }" class="px-4 py-1 flex items-center bg-gray-800 hover:bg-gray-700 text-white mr-0 ml-auto rounded">
        <span class="fill-current mr-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 448 512"><!-- Font Awesome Free 5.15.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --><path d="M352 240v32c0 6.6-5.4 12-12 12h-88v88c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-88h-88c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h88v-88c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v88h88c6.6 0 12 5.4 12 12zm96-160v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48h352c26.5 0 48 21.5 48 48zm-48 346V86c0-3.3-2.7-6-6-6H54c-3.3 0-6 2.7-6 6v340c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z"/></svg>
        </span>
        <span>Create</span>
      </router-link>
    </div>

    <div class="overflow-x-auto bg-white rounded shadow-sm overflow-y-auto relative">
      <table class="border-collapse table-auto w-full whitespace-nowrap bg-white table-striped relative">
        <thead>
          <tr class="text-left text-xs uppercase text-gray-200 font-semibold tracking-wider">
            <th class="bg-gray-800 sticky top-0 border-b border-gray-800 px-3 py-3" v-for="column in columns" :key="column.key">{{ column.label }}</th>
            <th class="bg-gray-800 sticky top-0 border-b border-gray-800 px-3 py-3" width="1"></th>
          </tr>
        </thead>
        <tbody class="text-sm">
          <template v-if="isLoading">
            <tr>
              <td class="border-b border-gray-200 text-gray-600 px-3 py-2 text-center" :colspan="columns.length + 1">Loading data...</td>
            </tr>
          </template>
          <template v-else-if="filteredData && filteredData.length > 0">
            <tr v-for="row in filteredData" :key="row.id" class="hover:bg-gray-50">
              <td :class="'text-'+alignmentClass(row, column)" class="border-b border-gray-200 text-gray-600 px-3 py-2" v-for="column in columns" :key="column.key">
                <span class="flex items-center" v-if="'render' in column" v-html="renderValue(row, column)"></span>
                <span v-else>{{ renderValue(row, column) }}</span>
              </td>
              <td class="border-b border-gray-200 text-gray-500 px-4 py-3">
                <div class="flex space-x-2 items-center">
                  <router-link v-if="details" :to="{ name: `${resource}.details`, params: { id: row['id'] } }" class="fill-current hover:text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 16" aria-labelledby="view" role="presentation"><path d="M16.56 13.66a8 8 0 0 1-11.32 0L.3 8.7a1 1 0 0 1 0-1.42l4.95-4.95a8 8 0 0 1 11.32 0l4.95 4.95a1 1 0 0 1 0 1.42l-4.95 4.95-.01.01zm-9.9-1.42a6 6 0 0 0 8.48 0L19.38 8l-4.24-4.24a6 6 0 0 0-8.48 0L2.4 8l4.25 4.24h.01zM10.9 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"></path></svg>
                  </router-link>

                  <router-link v-if="edit" :to="{ name: `${resource}.edit`, params: { id: row['id'] } }" class="fill-current hover:text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="edit" role="presentation"><path d="M4.3 10.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM6 14h2.59l9-9L15 2.41l-9 9V14zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h6a1 1 0 1 1 0 2H2v14h14v-6z"></path></svg>
                  </router-link>

                  <a v-if="remove" @click="deleteResource(resource, row['id'])" class="cursor-pointer fill-current hover:text-gray-800">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" aria-labelledby="delete" role="presentation"><path fill-rule="nonzero" d="M6 4V2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2h5a1 1 0 0 1 0 2h-1v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6H1a1 1 0 1 1 0-2h5zM4 6v12h12V6H4zm8-2V2H8v2h4zM8 8a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1zm4 0a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V9a1 1 0 0 1 1-1z"></path></svg>
                  </a>
                </div>
              </td>
            </tr>
          </template>
          <template v-else>
            <tr>
              <td class="border-b border-gray-200 text-gray-600 px-3 py-2 text-center" :colspan="columns.length + 1">
                <span>No data available</span>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
<script>
import Swal from 'sweetalert2'
import moment from 'moment'

export default {
  name: 'DataTable',

  props: {
    resource: String,
    columns: Array,
    data: Array,
    isLoading: Boolean,
    details: {
      type: Boolean,
      default: true
    },
    edit: {
      type: Boolean,
      default: true
    },
    remove: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      term: null,
    }
  },

  methods: {
    renderValue(row, column) {
      if ('render' in column) {
        return column.render(row, column)
      }

      if ('type' in column) {
        if (column.type === Date && 'format' in column) {
          return moment(row[column.key]).format(column.format)
        }
      }

      return row[column.key]
    },

    alignmentClass(row, column) {
      return 'alignment' in column && column.alignment || 'left'
    },

    deleteResource(resource, id) {
      Swal.fire({
        // title: 'Warning!',
        text: 'Do you really want to delete the selected resource? (' + resource + ' with id ' + id + ')',
        icon: 'warning',
        showCancelButton: true,
        cancelButtonText: 'Abort the deletion',
        confirmButtonText: 'Proceed',
        customClass: {
          confirmButton: 'bg-gray-800',
          cancelButton: 'bg-transparent',
        }
      }).then((result) => {
        if (result.isConfirmed) {
          this.$store.dispatch(`${resource}/delete`, id)
            .then(() => {
              Swal.fire({ text: 'Resource deleted succesfully!', icon: 'success' })
              this.$store.dispatch(`${resource}/fetchList`)
            })
            .catch((error) => Swal.fire({ text: 'There was an error trying to delete the resource!', icon: 'error' }))
        }
      })
    }
  },

  computed: {
    filteredData() {
      if (! this.term) {
        return this.data
      }

      return this.data.filter((e) => {
        for (let prop in e) {
          if (typeof(e[prop]) === 'string' && e[prop].includes(this.term)
           || typeof(e[prop]) === 'number' && e[prop] == this.term) {
            return true;
          }
        }

        return false
      })
    }
  }
}
</script>

<style>
</style>
