<template>
  <div class="text-sm py-2 px-4 rounded mb-4" :class="{
    'bg-red-200': isError, 'text-red-700': isError,
    'bg-green-200': isSuccess, 'text-green-700': isSuccess,
    'bg-gray-200': isNeutral, 'text-gray-700': isNeutral
    }">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'neutral',
    }
  },

  computed: {
    isError() {
      return this.type == 'error'
    },

    isSuccess() {
      return this.type == 'success'
    },

    isNeutral() {
      return this.type == 'neutral'
    },
  }
}
</script>

<style>

</style>
