<template>
  <div>
    <nav class="flex-none flex justify-between bg-white h-16 relative shadow-sm">
      <ul class="flex">
        <li class="group relative">
          <div class="flex items-center h-full px-4 text-sm">
            <h1 id="page-caption" class="font-semibold text-lg">{{ title }}</h1>
          </div>
        </li>
      </ul>

      <ul class="px-8 flex items-center">
        <li class="h-10 w-10 ml-3">
          <button title="Page Menu" class="h-full w-full rounded-full border focus:outline-none focus:shadow-outline">
            <img class="h-full w-full rounded-full mx-auto" :src="profilePicture" />
          </button>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Topbar',

  props: [ 'title' ],

  computed: {
    ...mapGetters({
      user: 'auth/user'
    }),

    profilePicture () {
      return `https://eu.ui-avatars.com/api/?uppercase=true&background=cef2ef&color=2f9f94&name=${this.user.name}+${this.user.surname}`
    }
  }
}
</script>

<style>

</style>
